# 2. 데이터프레임 조회

## 2.1 인덱스 검색

대괄호[] 연산자에 하나의 열을 넣어서
조회하는 방식으로 이용하는 것이 보통의 인덱스 검색 방법이며 
열의 이름을 하나 넣고 변수에 할당합니다. <br>

데이터 프레임에서 일반적인 인덱스 검색을 하면 여러 열 중에서 하나의 열만 처리합니다. <br>
이 열은 시리즈의 인스턴스 정보를 담고 있습니다.

In [1]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

df

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

### 데이터 프레임에서 특정 열 검색 1 (대괄호 []를 이용하여 검색하기)

In [2]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

In [3]:
df

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

### 데이터 프레임에서 특정 열 검색 2 (대괄호 []를 이용하여 슬라이싱 검색하기)

In [4]:
import pandas as pd

df = pd.DataFrame(
    {
    '국어': [95, 98, 98, 85, 65],
    '영어': [87, 55, 96, 89, 92],
    '수학': [85, 98, 88, 25, 89],
    '과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 영어열의 데이터를 가져온다. 시리즈
df_ser = df['영어']
print(df_ser)
print()

# 영어 열(시리즈)의 1행에서 3행 전까지 출력(1~2행) 
print(df_ser[1:3])

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

홍길동    87
김철수    55
이영희    96
김민지    89
조윤정    92
Name: 영어, dtype: int64

김철수    55
이영희    96
Name: 영어, dtype: int64

### 데이터 프레임에서 특정 열 검색 3 (원하는 열 만 가져오기)

In [5]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 국어, 영어 열을 가져온다.
print(df[['국어', '영어']])

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

     국어  영어
홍길동  95  87
김철수  98  55
이영희  98  96
김민지  85  89
조윤정  65  92

### 데이터프레임에서 원하는 행 검색 (슬라이싱)

In [6]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

# 데이터프레임의 1행에서 3행 전 까지(1행에서 2행까지)
df[1:3]

     국어  영어  수학  과학
김철수  98  55  98  50
이영희  98  96  88  88

### 데이터프레임에 열 이름을 넣어서 조회

In [7]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df['국어'])
print()

print(df['영어'])

홍길동    95
김철수    98
이영희    98
김민지    85
조윤정    65
Name: 국어, dtype: int64

홍길동    87
김철수    55
이영희    96
김민지    89
조윤정    92
Name: 영어, dtype: int64

### 데이터프레임에 열 이름을 넣어서 조회 (2개의 열을 조회)

In [8]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    }
)

df[['영어','수학']]

   영어  수학
0  87  85
1  55  98
2  96  88
3  89  25
4  92  89

### 데이터프레임에 열 인덱스를 넣어서 조회

In [9]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    }
)

print(df.columns)      	 # Index(['국어', '영어', '수학', '과학'], dtype='object')
print(df.columns[0])     # 국어
print(df[df.columns[0]]) 
print(df.columns.values)

Index(['국어', '영어', '수학', '과학'], dtype='object')
국어
0    95
1    98
2    98
3    85
4    65
Name: 국어, dtype: int64
['국어' '영어' '수학' '과학']

### 슬라이싱

In [10]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 영어 열 선택. 행은 0행에서 3행전까지 (0행 ~ 2행까지)   
df['영어'][0:3]

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

홍길동    87
김철수    55
이영희    96
Name: 영어, dtype: int64

### 슬라이싱

In [11]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)


print(df)
print()

# 국어, 수학 열 선택. 행은 0행에서 3행전까지 (0행 ~ 2행까지)   
df[['국어', '수학']][0:3]

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

     국어  수학
홍길동  95  85
김철수  98  98
이영희  98  88

### 슬라이싱

In [12]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)


print(df)
print()

# 3행에서 끝까지   
df[3:]

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

     국어  영어  수학  과학
김민지  85  89  25  85
조윤정  65  92  89  95

## 2.2 loc

### df.loc['행 레이블 이름']에 행 이름을 인자로 넣으면 해당하는 행을 시리즈로 반환합니다.

### loc 예제 1 – 행 이름으로 가져오기

In [13]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 행 인덱스 이름으로 데이터 가져오기
# 행 인덱스 이름 홍길동을 인자로 넣어서
# 홍길동에 해당하는 행을 시리즈로 가져온다.
row = df.loc['홍길동']
row

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

국어    95
영어    87
수학    85
과학    98
Name: 홍길동, dtype: int64

### loc 예제 2 – 행 인덱스 이름으로 가져오기 (특정 행 인덱스 이름에서 특정 행 인덱스 이름까지 데이터 가져오기. 슬라이싱)

In [14]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 김철수(행 인덱스 이름)에서 김민지(행 인덱스 이름)까지 데이터 가져오기
# 김철수에서 김민지(포함)까지 해당하는 모든 행을 시리즈로 가져온다. 
row = df.loc['김철수':'김민지']
row

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

     국어  영어  수학  과학
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85

### loc 예제 3 – 원하는 행 인덱스 이름만 선택해서 가져오기

In [15]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 김철수(행 인덱스 이름)행과 김민지(행 인덱스 이름)행만 선택해서 데이터 가져오기
# 김철수, 김민지 행 만 골라서 데이터프레임으로 가져온다
row = df.loc[['김철수','김민지']]
row

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

     국어  영어  수학  과학
김철수  98  55  98  50
김민지  85  89  25  85

### loc 예제 4 – 행, 열 이름 선택

In [16]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 김철수(행 인덱스 이름), 영어(열 인덱스 이름) 선택해서 데이터 가져오기
# 행 인덱스 이름 김철수 이고, 열 인덱스 이름이 영어인 위치의 데이터를 가져온다.
row = df.loc['김철수','영어']
row

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

np.int64(55)

### loc 예제 5 - 모든 범위의 행, 모든 범위의 열 가져오기

In [17]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 처음부터 끝까지 모든 행, 모든 열 가져오기
row = df.loc[: , :]
row

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

### loc 예제 6 - 모든 범위의 행, 특정 범위의 열 가져오기

In [18]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 처음부터 끝까지 (모든 행), 국어에서 수학까지 (특정 열) 가져오기
row = df.loc[: , '국어':'수학']
row

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

     국어  영어  수학
홍길동  95  87  85
김철수  98  55  98
이영희  98  96  88
김민지  85  89  25
조윤정  65  92  89

### loc 예제 7 - 특정 범위의 행, 모든 범위의 열 가져오기

In [19]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 행은 이영희에서 김민지까지, 열은 모든 열 가져오기
row = df.loc['이영희':'김민지' , :]
row

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

     국어  영어  수학  과학
이영희  98  96  88  88
김민지  85  89  25  85

### loc 예제 8 특정 범위의 행, 특정 범위의 열 가져오기

In [20]:
import pandas as pd

df = pd.DataFrame(
    {
    '국어': [95, 98, 98, 85, 65],
    '영어': [87, 55, 96, 89, 92],
    '수학': [85, 98, 88, 25, 89],
    '과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 행은 이영희에서 김민지 행까지, 열은 영어에서 수학까지 가져오기
row = df.loc['이영희':'김민지' , '영어':'수학']
row

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

     영어  수학
이영희  96  88
김민지  89  25

### loc 예제 9 - 특정 범위의 행, 특정 열 가져오기

In [21]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 행은 홍길동에서 김민지행 까지, 열은 국어, 영어만 가져오기
row = df.loc['홍길동':'김민지' , ['국어', '영어']]
row

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

     국어  영어
홍길동  95  87
김철수  98  55
이영희  98  96
김민지  85  89

### loc 예제 - 10 특정 행, 원하는 범위의 열 가져오기

In [22]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 행은 홍길동과 이영희 행만, 열 모든 열 가져오기
# 행 인덱스 슬라이싱, 열 인덱스 슬라이싱
row = df.loc[['홍길동', '이영희'] , :]
row

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

     국어  영어  수학  과학
홍길동  95  87  85  98
이영희  98  96  88  88

### loc 예제 11 - 특정 행, 특정 열 가져오기

In [23]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 행은 홍길동과 김민지 행만, 열은 영어, 수학 열만 가져오기
# 행 인덱스 슬라이싱, 열 인덱스 슬라이싱
row = df.loc[['홍길동', '김민지'] , ['영어', '수학']]
row

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

     영어  수학
홍길동  87  85
김민지  89  25

### loc 예제 12 – 평균, 합계, 최대, 최소

In [24]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)
print(df)

row = df.loc['이영희']
print(row)

print(row.sum())  # 합계
print(row.mean()) # 평균
print(row.max())  # 최대값
print(row.min())  # 최소값

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95
국어    98
영어    96
수학    88
과학    88
Name: 이영희, dtype: int64
370
92.5
98
88

## 2.3 iloc

### iloc는 모든 것을 0부터 접근해서 처리합니다.

### iloc 예제 1 - 행 인덱스로 가져오기

In [25]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 행 인덱스로 데이터 가져오기
# 행 인덱스 0번 홍길동
row = df.iloc[0]
row

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

국어    95
영어    87
수학    85
과학    98
Name: 홍길동, dtype: int64

### iloc 예제 2 – 행 인덱스, 열 인덱스 위치를 지정해서 값 가져오기

In [26]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 행 인덱스 0번, 열 인덱스 1번의 데이터 가져오기
# 0행 1열의 값을 가져온다
data = df.iloc[0, 1]
print(data)

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

87

### iloc 예제 3 - 행 인덱스에서 행 인덱스 까지

In [27]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 행 인덱스 0에서 행 인덱스(2-1)까지 가져오기
data = df.iloc[0:2]
data

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50

### iloc 예제 4 - 특정 행 인덱스만 골라서 가져오기

In [28]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 행 인덱스 0번과, 행 인덱스 2번을 가져온다
data = df.iloc[[0, 2]]
data

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

     국어  영어  수학  과학
홍길동  95  87  85  98
이영희  98  96  88  88

### iloc 예제 5 - 모든 행, 모든 열

In [29]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 모든 행, 모든 열 (처음부터 끝까지)
data = df.iloc[:, :]
data

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

### iloc 예제 6 모든 행, 특정 범위의 열

In [35]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 모든 행, 특정 범위의 열
# 행은 모든 행, 열은 0(국어)에서 3-1(수학)까지
data = df.iloc[:, 0:3]
data

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

     국어  영어  수학
홍길동  95  87  85
김철수  98  55  98
이영희  98  96  88
김민지  85  89  25
조윤정  65  92  89

### iloc 예제 7 특정 범위의 행, 모든 범위의 열

In [36]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 행은 0~2번(0,1), 열은 모든 열
data = df.iloc[0:2, :]
data

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50

### iloc 예제 8 - 특정 범위의 행, 특정 범위의 열

In [37]:
import pandas as pd

df = pd.DataFrame(
    {
    '국어': [95, 98, 98, 85, 65],
    '영어': [87, 55, 96, 89, 92],
    '수학': [85, 98, 88, 25, 89],
    '과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 특정 범위의 행(0~2번 사이), 
# 특정 범위의 열(0~2번 사이)
# 행은 0~2번(0,1), 열은 0~2번(0,1)
data = df.iloc[0:2, 0:2]
data

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

     국어  영어
홍길동  95  87
김철수  98  55

### iloc 예제 9 모든 범위의 행, 원하는 열 선택

In [39]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 모든 범위의 행, 특정 열(0, 2)
data = df.iloc[:, [0,2]]
data

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

     국어  수학
홍길동  95  85
김철수  98  98
이영희  98  88
김민지  85  25
조윤정  65  89

### iloc 예제 10 특정 행, 모든 범위의 열

In [40]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 특정 행(0, 1), 모든 열
data = df.iloc[[0,1], :]
data

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50

### iloc 예제 11 특정 행, 특정 열

In [50]:
import pandas as pd

df = pd.DataFrame(
    {
		'국어': [95, 98, 98, 85, 65],
		'영어': [87, 55, 96, 89, 92],
		'수학': [85, 98, 88, 25, 89],
		'과학': [98, 50, 88, 85, 95]
    },
    index=['홍길동', '김철수', '이영희' , '김민지', '조윤정']
)

print(df)
print()

# 특정 행(0, 2), 특정 열(0, 2)
data = df.iloc[[0, 2], [0, 2]]
data

     국어  영어  수학  과학
홍길동  95  87  85  98
김철수  98  55  98  50
이영희  98  96  88  88
김민지  85  89  25  85
조윤정  65  92  89  95

     국어  수학
홍길동  95  85
이영희  98  88